html,
body {
    background-color: #F1F1F3;
}

.back{
    margin-top: 33%;
    width: 100%;
}

.title{
    /* margin-left: 1%; */
    text-align: center;
    /* margin: -25% auto 0; */
    margin-top: -25%;
    position: fixed;
    /* width: auto; */
    width: 100%;
    background-color: #F1F1F3;
}

.titletext{
    background: linear-gradient(to right top, #c9a9b3, #a110e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    margin-top:5%;
    font-weight: bold;
    font-size: 50px;
    width: fit-content;
    /* margin-bottom:5%; */
}